@import url('https://fonts.googleapis.com/css?family=Mouse+Memoirs|Lato|Dosis&display=swap');


h1, h2 {
  font-family: 'Mouse Memoirs', fantasy ;
  line-height: 1.1em;
  padding: 10px;
  text-align: center;
  color: whitesmoke;
}

h1{
    font-size: 2em;
}

h3{
    background-color: rgb(85, 94, 95);
    color: whitesmoke;
    font-size: 1.5em;
    margin: 5 auto;
}

li{
    font-family: 'Lato', Helvetica, sans-serif;
}

p {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 1.15em;
  line-height: 1.25em;
  padding: 10px;
  color: rgb(63, 28, 160);
  margin: 0;
  text-align: center;
}

body{
    max-width: 100%;
    margin: 0 auto;
}

header{
    background-color: rgb(17, 50, 58);
    padding: 5px 25px;

}

main{
    background-color: rgb(85, 94, 95);
    padding: 5px 25px;
}

div{
    background-color: rgb(181, 207, 211);
    padding: 5px 25px; 
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
}

img{
    max-width: 80%;
    margin: 10px auto;
}

footer{
    background-color: rgb(17, 50, 58);
    padding: 5px 0;
    text-align: center;
}

.footer_font{
    color: whitesmoke;
}

#last_update{
    color: whitesmoke;
}