@import url('https://fonts.googleapis.com/css?family=Mouse+Memoirs|Lato|Dosis&display=swap');

:root {
    --lila: #938ba1;
    
}

h1, h2 {
  font-family: 'Mouse Memoirs', fantasy;
  line-height: 1.1em;
  padding: 10px;
  text-align: center;
  color: black;
}

h1{
    font-size: 2em;
}

h3 {
    color: var(--lila);
}

li{
    font-family: 'Lato', Helvetica, sans-serif;
    list-style: none;
}

p {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 1.15em;
  line-height: 1.25em;
  padding: 10px;
  color: black;
  margin: 0;
  text-align: center;
}

a:link {
    color: var(--lila);
}

body{
    max-width: 600px;
    margin: 0 auto;
}

nav {
    background-color: #A9FBD7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li.menu-button {
    display: flex;
    justify-content: center;
}

li.menu-item {
    display: none;
}

li.open {
    display: block;
}

nav > ul > li:hover {
    background-color: var(--lila);
}

nav > ul > li > a:hover {
    color: white;
}

header{
    background-color: #B0C6CE;
    padding: 5px 25px;
    display: grid;
    grid-template-rows: 1/2fr;
}

main {
    max-width: 760px;
    display: flex;
    flex-direction: column;
}

img{
    max-width: 100px;
    margin: 10px auto;
}

footer{
    background-color: #B0C6CE;
    padding: 5px 0;
    text-align: center;
}

.card{
    border: 5px solid  var(--lila);
    margin: 0 5px;
    padding: 5px;
}

#hero {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

#hero-container {
    position: relative;
}

#hero-text {
    position: absolute;
    top: 10%;
    left:5%;
}

#hero-text p {
    font-size: 2em;
    color: black;
    font-family: 'Mouse Memoirs', fantasy;
    background-color: rgba(204, 202, 178, 0.5);
}